APP_NAME=Synthos
VERSION=1.0.0
SERVER_URL=http://127.0.0.1:8000/
API_KEY=replace-me-with-your-own-api-key
DB_USER=root
DB_PASSWORD=replace-me-with-your-own-db-password
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=synthos
